MerlionBankBackOffice/src/conf/xml-resources/web-service-references/SACHWebService/wsdl/localhost_8080/SACHWebService/SACHWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.SACH/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.SACH/">

<xs:element name="recordOneTransaction" type="tns:recordOneTransaction"/>

<xs:element name="recordOneTransactionResponse" type="tns:recordOneTransactionResponse"/>

<xs:complexType name="recordOneTransaction">
<xs:sequence>
<xs:element name="giverBank" type="xs:string" minOccurs="0"/>
<xs:element name="receiptBank" type="xs:string" minOccurs="0"/>
<xs:element name="code" type="xs:string" minOccurs="0"/>
<xs:element name="giverAccount" type="xs:string" minOccurs="0"/>
<xs:element name="receiptAccount" type="xs:string" minOccurs="0"/>
<xs:element name="amount" type="xs:double"/>
<xs:element name="transactionTime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recordOneTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>